<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>wenContent</key>
		<string>老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何</string>
		<key>huiDaZhe</key>
		<string>千叶老师</string>
		<key>huiDaContent</key>
		<string>今天股市状况很好，可以购买。</string>
		<key>shijian</key>
		<string>今天 09：34</string>
	</dict>
	<dict>
		<key>wenContent</key>
		<string>老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何</string>
		<key>huiDaZhe</key>
		<string>千叶dd老师</string>
		<key>huiDaContent</key>
		<string>今天股市状况很好，可以购买。ujkhjkghhhhhhhhh股市状况很好，可以购股市状况很好，可以购股市状况很好，可以购股市状况很好，可以购</string>
		<key>shijian</key>
		<string>今天 09：34</string>
	</dict>
	<dict>
		<key>wenContent</key>
		<string>老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何</string>
		<key>huiDaZhe</key>
		<string>千叶老师</string>
		<key>huiDaContent</key>
		<string>今天股市状况很好，可以购买。</string>
		<key>shijian</key>
		<string>今天 09：34</string>
	</dict>
	<dict>
		<key>wenContent</key>
		<string>老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何</string>
		<key>huiDaZhe</key>
		<string>千叶老师</string>
		<key>huiDaContent</key>
		<string>今天股市状况很好，可以购买。</string>
		<key>shijian</key>
		<string>今天 09：34</string>
	</dict>
	<dict>
		<key>wenContent</key>
		<string>老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何</string>
		<key>huiDaZhe</key>
		<string>千叶老师</string>
		<key>huiDaContent</key>
		<string>今天股市状况很好，可以购买。</string>
		<key>shijian</key>
		<string>今天 09：34</string>
	</dict>
	<dict>
		<key>wenContent</key>
		<string>老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何</string>
		<key>huiDaZhe</key>
		<string>千叶老师</string>
		<key>huiDaContent</key>
		<string>今天股市状况很好，可以购买。</string>
		<key>shijian</key>
		<string>今天 09：34</string>
	</dict>
	<dict>
		<key>wenContent</key>
		<string>老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何</string>
		<key>huiDaZhe</key>
		<string>千叶老师</string>
		<key>huiDaContent</key>
		<string>今天股市状况很好，可以购买。</string>
		<key>shijian</key>
		<string>今天 09：34</string>
	</dict>
	<dict>
		<key>wenContent</key>
		<string>老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何</string>
		<key>huiDaZhe</key>
		<string>千叶老师</string>
		<key>huiDaContent</key>
		<string>今天股市状况很好，可以购买。</string>
		<key>shijian</key>
		<string>今天 09：34</string>
	</dict>
	<dict>
		<key>wenContent</key>
		<string>老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何，老师请问最近股市如何</string>
		<key>huiDaZhe</key>
		<string>千叶老师</string>
		<key>huiDaContent</key>
		<string>今天股市状况很好，可以购买。</string>
		<key>shijian</key>
		<string>今天 09：34</string>
	</dict>
</array>
</plist>
