<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>xiaoxiContent</key>
		<string>【海口出台限价房新规 年满18岁即可申请限价房】为规范对海口市限价商品住房保障的管理，海口市近日印发《海口市限价商品住房保障管理办法》；其中将申请本市限价商品住房申请人年龄放宽至当年应满18周岁；该办法将于今年4月1日起施行，有效期五年。(新华社)</string>
		<key>shijian</key>
		<string>今天 09：34</string>
	</dict>
	<dict>
		<key>xiaoxiContent</key>
		<string>[【国泰君安：市场正逐渐接近调整尾声】国泰君安今日召开春季策略会，任泽平认为，2016年积极的财政政策更加积极，稳健的货币政策稳健略宽松，预计今年可能有1次降息、6次降准；自5000点调整以来，市场正逐渐接近调整尾声，存量博弈下结构性行情，应卖出高风险偏好的伪成长、转向低估值有业绩的方向；大宗商品缺乏基本面支撑，建议超配黄金。</string>
		<key>shijian</key>
		<string>今天 11：31</string>
	</dict>
	<dict>
		<key>xiaoxiContent</key>
		<string>【李克强：希望广东走在促进“双中高”前列】中共中央政治局常委、国务院总理李克强在广东代表团参加审议。代表们积极发言，李克强与大家深入交流。他说，广东是国家发展的重要支撑，是改革开放的“排头兵”。希望广东敢为人先、勇挑重担。一要走在促进“双中高”前列。（证券时报网）</string>
		<key>shijian</key>
		<string>今天 03：15</string>
	</dict>
	<dict>
		<key>xiaoxiContent</key>
		<string>【日本首相经济顾问：下一步行动是扩大资产购买及降息】东方财富网9日讯，日本首相经济顾问本田悦朗称，下一步行动将是扩大资产购买计划，以及进一步降息。</string>
		<key>shijian</key>
		<string>今天 12：11</string>
	</dict>
	<dict>
		<key>xiaoxiContent</key>
		<string>【汇丰：增持Burberry并非收购行动】东方财富网9日讯，汇丰控股披露，其增持Burberry 5%股份是多个客户交易的一部分，而非单一交易方的收购行动。今日Burberry伦敦股价一度跌6%。</string>
		<key>shijian</key>
		<string>今天 07：21</string>
	</dict>
	<dict>
		<key>xiaoxiContent</key>
		<string>【两只已高送转股都涨停了 下一个可能在这里(名单)】在实施送转前后，高送转个股往往会有一波活跃的看涨行情。历史数据也能佐证这一点，以2014年末高送转个股为例，302只个股在送转实施的前后5天共10个交易日内，涨幅为正的接近7成，半数涨幅超过5%。所以，下一个逆势走强的股票，会不会出现在榜单中呢？且拭目以待。（证券时报网）</string>
		<key>shijian</key>
		<string>今天 09：12</string>
	</dict>
	<dict>
		<key>xiaoxiContent</key>
		<string>【两只已高送转股都涨停了 下一个可能在这里(名单)】在实施送转前后，高送转个股往往会有一波活跃的看涨行情。历史数据也能佐证这一点，以2014年末高送转个股为例，302只个股在送转实施的前后5天共10个交易日内，涨幅为正的接近7成，半数涨幅超过5%。所以，下一个逆势走强的股票，会不会出现在榜单中呢？且拭目以待。（证券时报网）</string>
		<key>shijian</key>
		<string>今天 11：33</string>
	</dict>
	<dict>
		<key>xiaoxiContent</key>
		<string>【老凤祥2015年净利11.17亿 同比增长近两成】老凤祥(600612)3月9日晚间发布业绩快报，公司2015年度实现营业收入357.12亿元，同比增长8.76%；归属于上市公司股东的净利润11.17亿元，同比增长18.88%；基本每股收益2.1359元。（证券时报网）</string>
		<key>shijian</key>
		<string>今天 08：12</string>
	</dict>
	<dict>
		<key>xiaoxiContent</key>
		<string>【齐星铁塔获控股股东增持118.5万股】齐星铁塔(002359)3月9日晚间公告，公司控股股东晋中龙跃投资咨询服务有限公司(简称“龙跃投资”)通过深交所证券交易系统增持公司股份118.5万股，占公司总股本的0.28%，增持均价25.93元/股。（证券时报网）</string>
		<key>shijian</key>
		<string>今天 05：54</string>
	</dict>
	<dict>
		<key>xiaoxiContent</key>
		<string>【张德江：从紧控制地方政府债务增长】全国人大常委会委员长张德江提出，从紧控制地方政府债务增长，严格限定举债程序和资金用途，正确处理当前和长远的关系，完善债务考核评价、风险评估和应急处置机制，切实防范和化解地方政府债务风险。(21世纪经济报道)
【张德江：从紧控制地方政府债务增长】全国人大常委会委员长张德江提出，从紧控制地方政府债务增长，严格限定举债程序和资金用途，正确处理当前和长远的关系，完善债务考核评价、风险评估和应急处置机制，切实防范和化解地方政府债务风险。(21世纪经济报道)
【张德江：从紧控制地方政府债务增长】全国人大常委会委员长张德江提出，从紧控制地方政府债务增长，严格限定举债程序和资金用途，正确处理当前和长远的关系，完善债务考核评价、风险评估和应急处置机制，切实防范和化解地方政府债务风险。(21世纪经济报道)
【张德江：从紧控制地方政府债务增长】全国人大常委会委员长张德江提出，从紧控制地方政府债务增长，严格限定举债程序和资金用途，正确处理当前和长远的关系，完善债务考核评价、风险评估和应急处置机制，切实防范和化解地方政府债务风险。(21世纪经济报</string>
		<key>shijian</key>
		<string>今天 17：34</string>
	</dict>
	<dict>
		<key>xiaoxiContent</key>
		<string>【银亿股份拟推首期员工持股计划】银亿股份3月9日晚间发布第一期员工持股计划草案，该计划参加人员总人数不超过500人，设立时资金总额不超过1亿元，并按照不超过1:2比例募资后以合计不超过3亿元，通过二级市场购买等方式取得并持有公司股票。(中国证券网)</string>
		<key>shijian</key>
		<string>今天 12：11</string>
	</dict>
	<dict>
		<key>xiaoxiContent</key>
		<string>【尹蔚民：基础养老金全国统筹方案基本思路已形成】人力资源和社会保障部部长尹蔚民9日表示，基础养老金全国统筹方案经过大量调研和测算，基本思路已经形成，能否在今年推出还需根据工作进展情况确定。对于养老金是否存在缺口问题，尹蔚民表示，从全国层面看，养老金不存在缺口。（中国证券报）</string>
		<key>shijian</key>
		<string>今天 04：11</string>
	</dict>
</array>
</plist>
